<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>20</integer>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<key>Label</key>
		<string>local.UnityCacheServer.NightlyRestart</string>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/Users/cache/node-latest-darwin-x64/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		</dict>
		<key>ProgramArguments</key>
		<array>
			<string>pkill</string>
			<string>-15</string>
			<string>-P</string>
			<string>1</string>
			<string>node</string>
		</array>
		<key>WorkingDirectory</key>
		<string>/Users/cache</string>
		<key>StandardOutPath</key>
		<string>/Users/cache/NightlyRestart.out</string>
		<key>StandardErrorPath</key>
		<string>/Users/cache/NightlyRestart.err</string>
		<key>UserName</key>
		<string>cache</string>
		<key>GroupName</key>
		<string>staff</string>
	</dict>
</plist>
